trunk/PoolMyCarCode/PoolMyCarCode-war/web/WEB-INF/wsit-war.RicercaWS.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RicercaWSService" targetNamespace="http://war/" xmlns:tns="http://war/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
 >
    <message name="ricerca"/>
    <message name="ricercaResponse"/>
    <message name="ricerca_1"/>
    <message name="ricerca_1Response"/>
    <message name="ricerca_2"/>
    <message name="ricerca_2Response"/>
    <message name="ricerca_3"/>
    <message name="ricerca_3Response"/>
    <portType name="RicercaWS">
        <operation name="ricerca">
            <input message="tns:ricerca"/>
            <output message="tns:ricercaResponse"/>
        </operation>
        <operation name="ricerca_1">
            <input message="tns:ricerca_1"/>
            <output message="tns:ricerca_1Response"/>
        </operation>
        <operation name="ricerca_2">
            <input message="tns:ricerca_2"/>
            <output message="tns:ricerca_2Response"/>
        </operation>
        <operation name="ricerca_3">
            <input message="tns:ricerca_3"/>
            <output message="tns:ricerca_3Response"/>
        </operation>
    </portType>
    <binding name="RicercaWSPortBinding" type="tns:RicercaWS">
        <operation name="ricerca">
            <input/>
            <output/>
        </operation>
        <operation name="ricerca_1">
            <input/>
            <output/>
        </operation>
        <operation name="ricerca_2">
            <input/>
            <output/>
        </operation>
        <operation name="ricerca_3">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="RicercaWSService">
        <port name="RicercaWSPort" binding="tns:RicercaWSPortBinding"/>
    </service>
</definitions>


